.elements {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin: 0px;
}
.element {
  box-sizing: border-box;
  background-color: white;
  border-color: black;
  border-radius: 10px;
  margin: 0;
}

.element__img {
  width: 100%;
  object-fit: fill;
  width: 282px;
  height: 282px;
  border-radius: 10px;
}
.element__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto 5%;
  max-width: 246px;
}
.element__name {
  font-size: 24px;
  font-weight: 900;
  text-align: left;
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.element__likes {
  margin-left: 85%;
  margin-top: -20%;
}
.element__like {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  margin: 1px;
}
.element__like:hover {
  opacity: 50%;
}
@media screen and (max-width: 768px) {
  .elements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .element__img {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .elements {
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
  }
}
