.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5% auto;
  width: 100%;
  border-color: aliceblue;
}
.profile__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.profile__info {
  margin: 0;
  width: 60%;
}
.group {
  display: flex;
  flex-direction: row;
}
.group__name {
  font-weight: 500;
  font-size: 42px;
  text-align: left;
  margin: 0;
}
.profile__exp {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
.group__botton {
  margin-left: 5%;
  background: none;
  border-style: none;
}
.group__botton:hover {
  opacity: 50%;
}
.profile__addbutton {
  background: none;
  border-style: none;
}
.profile__button-img {
  width: 150px;
  border-style: solid;
  border-width: 2px;
  border-color: #c4c4c4;
  padding: 5% 0px;
}
.profile__addbutton:hover {
  opacity: 50%;
}
